S3method(plot,nb.data)
S3method(plot,nb.dispersion)
S3method(plot,nbp)
S3method(print,nb.dispersion)
S3method(print,nbp)
export(estimate.disp)
export(estimate.dispersion)
export(estimate.norm.factors)
export(exact.nb.test)
export(irls.nb.1)
export(nb.glm.test)
export(nbp.test)
export(prepare.nb.data)
export(prepare.nbp)
export(test.coefficient)
exportPattern("^[^\\.]")
importFrom(splines,ns)
useDynLib(NBPSeq,Cdqrls)
